:root {
   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --brand-primary: #0a3d62;
   --brand-primaryLight: #00adef;
   --brand-secondary: #2e5635;
   --brand-accentYellow: #ffe15c;
   --brand-accentGold: #d9913c;
   --brand-accentBeige: #cbbba0;
   --brand-secondarySlate: #505a64;
}

.spinner-wrapper {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: var(--brand-secondarySlate);
}

* {
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   line-height: 1.5;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* min-height: 100vh; */
   overflow: auto;
}

.layout {
   min-height: 100vh;
   justify-content: space-between;
}

main {
   position: relative;
   flex: 1 1 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   /* background-color: var(--brand-primaryLight); */
}

a {
   cursor: pointer;
}

a.card {
   text-decoration: none !important;
}

.card-subtitle {
   font-weight: 400 !important;
   color: gray !important;
   font-size: 1em;
}

@media screen and (max-width: 425px) {
   .card-title.h5 {
      font-size: 0.75em;
   }

   .card-subtitle.h6 {
      font-size: 0.75em;
   }
}

.columns {
   flex: 1 1 0;
   text-align: center;
   margin: 0;
   padding: 0;
   display: flex;
   flex-flow: row wrap;
   height: auto;
}

.columns.light {
   color: white;
   background-color: var(--brand-primaryLight);
}

.columns .flex-item {
   position: relative;
   flex: 1 1 0;
   min-width: 100px;
   height: auto;
   margin: 0;
   padding: 32px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1em;
}

.columns .flex-item::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 1px;
   height: 100%;
   background: white;
   z-index: 1;
}

.columns .flex-item:last-child::after {
   display: none;
}

@media screen and (max-width: 1024px) {
   .columns .flex-item::after {
      display: none;
   }

   .columns .flex-item {
      align-items: stretch;
      flex: 1 1 auto;
   }
}

.columns .flex-item a {
   color: inherit;
}

.cta {
   color: var(--brand-primaryLight);
   font-weight: 600;
   text-decoration: none;
}

.cta:hover {
   text-decoration: underline;
}

figure {
   text-align: center;
   display: flex;
   flex-direction: column;
}

figcaption {
   font-size: 0.9em;
   font-style: italic;
}

a.list-group-item {
   transition: all 0.2s ease-in-out;
}

a.list-group-item:hover {
   border-left: 10px solid var(--brand-accentYellow);
}

.image-wrapper {
   aspect-ratio: 16/9;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 16px;
   margin: 0 auto;
}

.image-wrapper img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.flex-item {
   position: relative; /* Ensure the pseudo-element is positioned relative to this container */
}

.flex-item::before {
   content: ""; /* Required to create the pseudo-element */
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(50, 72, 80, 0.6); /* Dark blue color with opacity*/
   z-index: 1; /* Ensure the overlay is above the image but below the content */
}

.flex-item .content {
   position: relative; /* Keep content on top of the overlay */
   z-index: 2; /* Ensure content is above the overlay */
}

.flex-item:nth-child(1) {
   background-image: url("/images/location_splash.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.flex-item:nth-child(2) {
   background-image: url("/images/species_splash.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.flex-item:nth-child(3) {
   background-image: url("/images/lures_splash.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.highlight-text {
   padding: 0;
   background-color: var(--brand-accentYellow);
}

.btn-tag,
.tag {
   display: inline !important;
   white-space: nowrap !important;
   color: white !important;
   height: auto !important;
   background-color: gray;
   padding: 5px 8px !important;
   border-radius: 20px !important;
   font-size: 12px !important;
   font-weight: 600 !important;
   box-shadow: none !important;
}

.btn-tag,
a.tag {
   cursor: pointer;
   text-decoration: none;
}

.btn-tag:hover,
a.tag:hover {
   text-decoration: underline;
}

@media screen and (max-width: 768px) {
   .tag {
      text-align: center;
      font-size: 10px;
   }
}

/* Welcome Section */
.welcome-section {
   background-color: #f8f9fa;
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.welcome-section .d-flex {
   align-items: center;
   justify-content: space-between;
}

/* Image Styles */
.image-container {
   flex: 1;
}

.image-container img {
   max-width: 100%;
   border-radius: 10px; /* Optional: gives rounded corners to the image */
}

/* Text Styles */
.text-container {
   flex: 1;
   padding-left: 2rem;
}

.welcome-section h3 {
   font-size: 2.25rem;
   font-weight: bold;
   color: #333;
   margin-bottom: 1rem;
}

.welcome-section .lead {
   font-size: 1.25rem;
   font-weight: 300;
   color: #666;
   max-width: 650px;
   line-height: 1.75;
}

.welcome-section .btn-primary {
   background-color: #007bff;
   color: #fff;
   padding: 10px 25px;
   font-size: 1.125rem;
   border: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.welcome-section .btn-primary:hover {
   background-color: #0056b3;
}

.page-subtitle {
   font-size: 24px;
   font-weight: 300;
   font-style: italic;
}

.btn-filter {
   color: var(--brand-primaryLight) !important;
   background-color: white;
   border: 2px solid var(--brand-primaryLight) !important;
}

.btn-filter:active,
.btn-filter:focus,
.btn-filter:hover {
   color: white !important;
   background-color: var(--brand-primaryLight) !important;
}

@media screen and (max-width: 768px) {
   .btn-filter {
      width: 100%;
   }
}

.form-control:focus {
    border-color: var(--brand-accentYellow) !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 225, 92, 0.25) !important;
}

.form-select:focus {
   border-color: var(--brand-accentYellow) !important;
   outline: 0;
   box-shadow: 0 0 0 0.25rem rgba(255, 225, 92, 0.25) !important;
}

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white; /* change to something with contrast if needed */
  background-color: #007bff; /* bootstrap primary or any contrasting color */
  padding: 10px 16px;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 10;
  position: relative;
}

.cta:hover {
  background-color: #0056b3;
  color: #fff;
}
