:root {
   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --brand-primary: #0a3d62;
   --brand-primaryLight: #00adef;
   --brand-secondary: #2e5635;
   --brand-accentYellow: #ffe15c;
   --brand-accentGold: #d9913c;
   --brand-accentBeige: #cbbba0;
   --brand-secondarySlate: #505a64;
}

.spinner-wrapper {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: var(--brand-secondarySlate);
}

* {
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   line-height: 1.5;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* min-height: 100vh; */
   overflow: auto;
}

.layout {
   min-height: 100vh;
   justify-content: space-between;
}

main {
   padding: 0;
   position: relative;
   flex: 1 1 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

a.card {
   text-decoration: none !important;
}

.card-subtitle {
   font-weight: 400 !important;
   color: gray !important;
   font-size: 1em;
}

@media screen and (max-width: 425px) {
   .card-title.h5 {
      font-size: 0.75em;
   }

   .card-subtitle.h6 {
      font-size: 0.75em;
   }
}

.columns {
   flex: 1 1 0;
   text-align: center;
   margin: 0;
   padding: 0;
   display: flex;
   flex-flow: row wrap;
   height: auto;
}

.columns.light {
   color: white;
   background-color: var(--brand-primaryLight);
}

.columns .flex-item {
   position: relative;
   flex: 1 1 0;
   min-width: 100px;
   height: auto;
   margin: 0;
   padding: 32px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1em;
}

.columns .flex-item::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 1px;
   height: 100%;
   background: white;
   z-index: 1;
}

.columns .flex-item:last-child::after {
   display: none;
}

@media screen and (max-width: 1024px) {
   .columns .flex-item::after {
      display: none;
   }

   .columns .flex-item {
      align-items: stretch;
      flex: 1 1 auto;
   }
}

.columns .flex-item a {
   color: inherit;
}

.cta {
   color: var(--brand-primaryLight);
   font-weight: 600;
   text-decoration: none;
}

.cta:hover {
   text-decoration: underline;
}
