.navbar {
   background-color: #307eb1;
}

.navbar .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1rem;
}

.navbar .nav-link {
   padding: 10px 20px !important;
   font-weight: 600;
   color: white;
   border-bottom: 5px solid transparent;
}

.navbar .nav-link:focus,
.navbar .navbar-brand:focus,
.navbar .nav-link:active,
.navbar .navbar-brand:active {
   color: white;
   border-color: white;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
   border-color: rgba(255, 255, 255, 0.5);
}

.navbar .logo-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   aspect-ratio: 2/1;
   overflow: hidden;
}

.navbar .header-logo {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media screen and (max-width: 992px) {
   .navbar .navbar-brand {
      margin: 0 auto;
   }

   .navbar .nav-link {
      padding-left: 10px;
      border-bottom: none;
      border-left: 5px solid transparent;
   }
}

.navbar .navbar-brand {
   flex-basis: 33.33%;
   max-width: 33.33%;
}

.navbar-collapse {
   flex-basis: 66.66%;
   max-width: 66.66%;
   display: flex !important;
   justify-content: flex-end;
}

/* 3. Optional: improve nav link spacing */
.navbar .nav-link {
   padding: 10px 20px;
   font-weight: 600;
   color: white;
   border-bottom: 5px solid transparent;
}

.navbar .nav {
   display: flex;
   justify-content: flex-end;
   width: 100%;
}

/* 4. Logo image tweaks */
.navbar .logo-wrapper {
   display: flex;
   align-items: center;
   height: 100%;
   width: fit-content;
}

.navbar .header-logo {
   height: auto;
   width: 150px;
}
