.navbar {
  background-color: var(--brand-primary);
}

.navbar * {
  color: white;
}

.navbar .nav-link:focus,
.navbar .navbar-brand:focus,
.navbar .nav-link:active,
.navbar .navbar-brand:active,
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: skyblue;
}

.navbar .logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2/1;
  overflow: hidden;
}

.navbar .header-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}