.form-label {
   font-size: 14px;
}

.range-numbers {
   font-size: 12px;
}

.current-range {
   font-size: 12px;
   position: absolute;
   top: 62%;
}

.sort-select {
   font-size: 14px;
   padding: 4px;
   padding-right: 35px;
   border: 0;
   width: auto;
   text-align: right;
}

.page-link {
   color: var(--brand-primaryLight);
   font-size: 18px;
}

.active > .page-link {
   background-color: var(--brand-primaryLight);
   border-color: var(--brand-primaryLight);
}

@media screen and (max-width: 768px) {
   .ranges {
      justify-content: space-around;
   }
}
