.form-label {
    font-size: 14px;
}

.range-numbers {
    font-size: 12px;
}

.current-range {
    font-size: 12px;
    position: absolute;
    top: 62%;
}

.sort-select {
    font-size: 14px;
    padding: 4px;
    padding-right: 35px;
    border: 0;
    width: auto;
    text-align: right;
}